
<!doctype html> <html>  

	<head>
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">


<style> 

	 h1 {   color:green;  text-align: center; }
	 p {  font-family: verdana;
		font-size: 16px; } 
	 
	
</style>
<title>About page</title>
</head> 



<a href="http://localhost:8000/">
<i class="fa fa-home" style="font-size:28px;padding-right:5px;color:lightsmoke"></i>Home</a></br>
<body>
<div style="background-color:#dedaca">
	<h1><bold>About Page</bold> </h1>
 </div>
 <br>
 </br>
<p>A Calorie Buddy Dynamic Web Application based on Nodejs, Express and MongoDB</p>




<div  style="position:fixed;left:0;bottom:0;padding-top:3px;background-color:lightgray"
class="container-fluid">
           <div class="row">
		       <div class="col-12">
<p class="text-center">Copyrights @ BongCloud 2022 - All rights reserved</p>
</div>
	   </div>
	 </div>
</body>
</html>




