<!doctype html>
<html>

<head>
	<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.c ss">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

	<title>HOME PAGE</title>

	<style>
		body {


			background-color: white;
		}

		h1 {
			color: rgba(180, 83, 9);
			text-align: center;
		}

		p {
			font-family: verdana;
			font-size: 17px;
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #1f2e3b;
		}

		li a {
			font-size: 16px;
			display: block;
			color: #FFFFFF;
			text-align: center;
			padding: 14px 16px;
			margin: 9px
		}

		li a:hover {
			background-color: #63584a;
		}

		.card {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			max-width: 330px;
			margin: auto;
			padding-bottom: 5px;
			text-align: center;
			font-family: verdana;
		}
	</style>
</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4" style="text-align:center;margin-top:9px">
				<h1>
					<img src="https://cdn.images.express.co.uk/img/dynamic/126/590x/secondary/how-many-calories-do-i-need-to-burn-to-lose-weight-vegetables-healthy-diet-2668592.jpg?r=1600267914500"
						alt="calorie image" style="width:54px;height:40px"> BongCloud Calorie Buddy
				</h1>
			</div>
			<div class="col-md-4" style=" text-align:center;margin-top:13px">
				<h1 style="font-family:Snell Roundhand,cursive;font-size:19px;font-weight:910;">Change your game, change
					your life</h1>
			</div>
			<div class="col-md-4" style=" text-align:center;margin-top:9px">

				<a style="font-size: 22px;" href="https://www.linkedin.com/company/wasabi-co-ltd/mycompany/">
					<i class="fa fa-linkedin"></i></a>
				<a style="font-size: 22px;margin-left:3px" href=" https://twitter.com/dimash_official"><i
						class="fa fa-twitter"></i></a>
				<a style="font-size: 22px;margin-left:3px" href="https://dribbble.com/learn"><i
						class="fa fa-dribbble"></i></a>
				<a style="font-size: 22px;margin-left:3px;" href="https://www.twitch.tv/gmhikaru"><i
						class="fa fa-twitch"></i></a>
			</div>
		</div>
	</div>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<a class="navbar-brand" href="">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbAaN6TnBXzAb0ao479GAYB9V2FR5Y2i_Txg&usqp=CAU"
				alt="Logo" style="width:46px;">BONGS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span
				class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link active" href="http://localhost:8000/">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link" href=" http://localhost:8000/about">About</a></li>
				<li class="nav-item"><a class="nav-link" href="http://localhost:8000/register">Register</a></li>

				<li class="nav-item"><a class="nav-link" href="http://localhost:8000/login">Login</a></li>

				<li class="nav-item"><a class="nav-link" href="http://localhost:8000/weatherform">WeatherForm</a></li>
				<li class="nav-item"><a class="nav-link" href="http://localhost:8000/food">FoodAPI</a></li>
				<li class="nav-item"><a class="nav-link" href="http://localhost:8000/foods/new">AddFood</a></li>
				<li class="nav-item"><a class="nav-link" href="http://localhost:8000/searchfood">SearchFood</a></li>
				<li class="nav-item"><a class="nav-link" href="http://localhost:8000/foodpage">FoodList</a></li>
				<li class="nav-item"><a class="nav-link" href=" http://localhost:8000/logout">LogOut</a></li>
			</ul>
		</div>

	</nav>


	<h1 style="text-align:center; font-size:25px">Healthy Food for a Wealthy Mood!<h1>
			<section>
				<div class="container-fluid">
					<div class="row">

						<div class="card" class="col-md-6">

							<img class="bounceInLeft animated"
								src="https://www.abdpcu.org/wp-content/uploads/2020/08/keto-lifestyle-594px.png"
								alt="food image" style="width:100%;height:330px">
						</div>

						<div class="card" class="col-md-6">
							<img class=" SlideInLeft animated"
								src="https://www.eatthis.com/wp-content/uploads/sites/4/2021/07/healthy-foods.jpg?quality=82&strip=1"
								alt="food bank" style="width:100%;height:330px">
						</div>

						<div class="card" class="col-md-6">
							<img src="https://i.pinimg.com/originals/32/66/6c/32666cb3f34895ae831787eb464842cc.jpg"
								alt="food img" style="width:100%;height:330px">
						</div>
					</div>
				</div>
			</section>
			
			<div style="position:fixed;left:0;bottom:0;padding-top:3px" class="container-fluid shake animated">

				<div class="col-12">
					<p class="text-center">Copyrights @ BongCloud 2022 - All rights reserved</p>

				</div>
			</div>
</body>

</html>