<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food form</title>

    <style>
        form {
            border: 3px solid #f1f1f3;
            margin-left: 30%;
            margin-right: 30%;
            padding-left: 63px;
            padding-right: 63px;
            text-align: center;
        }
    </style>

</head>

<body>
    <!--display food data-->
    <div class="form-group">
        <label for="name">Foodname</label>
        <input required type="text" name="name" id="name" class="form-control"
            placeholder="enter food name">
    </div>

    <div class="form-group">
        <label for="typicalvalues">typicalvalues</label>
        <input required pattern="[0-9]+" title="please enter number only"
            name="typicalvalues" type="number" id="typicalvalues" class="form-control"
            placeholder="enter typical value">
    </div>

    <div class="form-group">
        <label for="unitvalue">Unitvalue</label>
        <input required type="text" name="unitvalue" id="unitvalue"
            class="form-control" placeholder="enter unitvalue">
    </div>

    <div class="form-group">
        <label for="calories">calories</label>
        <input required placeholder="enter number" type="number" min="1" max="99999"
            name="calories" placeholder="enter number" id="calories" class="form-control">
    </div>

    <div class="form-group">
        <label for="carbs">carbs</label>
        <input required type="number" name="carbs" placeholder="enter number" type="number"
            id="carbs" class="form-control">
    </div>

    <div class="form-group">
        <label for="fat">fat</label>
        <input required type="number" placeholder="enter number" name="fat" id="fat"
            class="form-control">
    </div>

    <div class="form-group">
        <label for="protein">protein</label>
        <input required type="number" name="protein" id="protein" class="form-control"
            placeholder="enter number">
    </div>

    <div class="form-group">
        <label for="salt">salt</label>
        <input required type="number" name="salt" id="salt" class="form-control"
            placeholder="enter number">
    </div>

    <div class="form-group">
        <label for="sugar">sugar</label>
        <input required type="number" name="sugar" id="sugar" class="form-control"
            placeholder="enter number">
    </div>


    <a href="/foodpage" class="btn btn-secondary">Cancel</a>

    <button type="submit" class="btn btn-primary">Save</button>