
<!DOCTYPE html> <html lang="en">
 <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">   
<link rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">                                                                 
<meta http-equiv="X-UA-Compatible" content="ie=edge">  

<title>cart page</title> </head> 

<body>
 
<a style="margin-left:5px;margin-top:5px;" href="http://localhost:8000/foodpage"                                                     class="btn btn-secondary">Foodpage</a>                                                                                
<br>
</br>
<h1 style="color:green;text-align:center;"></bold>Your food item</bold></h1>

<div class="container-fluid text-center"> 

<p style="font-size:18px;"class="mb-1">Foodname = <%= food.name %></p> 
<span style="padding:5px; font-size:18px; margin:5px;">Total calories = <%= food.calories %> </span>

</div>

</body>
</html>            







