
<html>
<head>
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<link rel="stylesheet"
 href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Message</title>
</head>

<body>
	<h6>
<a href="http://localhost:8000/foodpage"><i class="fa fa-list" 
	style="font-size:28px;padding-left:6px;padding-top:5px;color:lightsmoke"></i>Foodpage</a></h6></br>
<h4 style="color:green;text-align:center;">Food data is now saved data to the database.</h4><br>
</body>

</html>


